<!doctype html>
<html>
<head>
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Coffee Shop </h1>
        <img src="/img/coffee.jpg" alt="coffee ">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Admin Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <a href="/order"class="btn btn-default"><i class="fas fa-cash-register"></i>Cashier</a>

       

    </div>

</div>
<script src="https://kit.fontawesome.com/58eb5e6d41.js" crossorigin="anonymous"></script>
</body>
</html>
