body {
  background-color: #c89fa3;
  /* background-color: #2C1A1D; */
  color: white;
  font-family: "Mukta", sans-serif;
}
nav {
  border: 1px solid white;
  background-color: white;
  height: 50px;
}
main {
  width: 100%;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1,
h2 {
  font-family: "Bebas Neue";
}
.btn {
  background-color: #a67f8e;
  color: white;
  margin-top: 2px;
  margin-left: 10px;
  float: right;
}
.drink {
  border-radius: 25%;
}
h3 {
  text-align: center;
}
h1 {
  border-radius: 25px;
  background-color: #a67f8e;
  width: 12%;
  text-align: center;
  position: relative;
  left: 63%;
}
.choices {
  position: relative;
  right: 10%;
  float: right;
  width: 43%;
  display: flex;
  justify-content: space-evenly;
}

#coffee,
#tea,
#juice {
  width: 200px;
  height: 400px;
  flex: 1;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submission {
  background-color: #a67f8e;
  border-radius: 22px;
  height: 600px;
  display: flex;
  flex-flow: column wrap;
}
.orders {
  height: 82%;
}
.totalSection {
  border: 1px solid color yellow;
}
#submit {
  height: 57px;
  width: 100%;
  margin: 0;
  align-self: center;
}
li {
  list-style: none;
}
.submission {
  display: flex;
  position: relative;
  left: 7%;
  width: 30%;
}

#itemQuantitySection,
#customerNameSection {
  width: 100px;
  flex: 1;
}

button {
  color: white;
  background-color: #2c1a1d;
  width: 100px;
  height: 100px;
  margin: 2%;
}
