body {
  color: white;
  background-color: #c89fa3;
}
.col-sm-offset-3 {
  background-color: #a67f8e;
  border-radius: 15px/45px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron {
  background-color: #a67f8e;
}
.btn {
  color: white;
  background-color: #2c1a1d;
}
.btn-warning {
  background-color: #2c1a1d;
  border-color: #a67f8e;
}
a {
  color: #2c1a1d;
}
.well {
  background-color: #a67f8e;
}
